<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><%= siteTitle %></a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li <% if (current.source==="index") { %>class="active" <%}%>>
          <a href="/">Home</a>
        </li>
        <li <% if (current.source==="items") { %>class="active" <%}%>>
          <a href="/items.html">News Items</a>
        </li>
        <li <% if (current.source==="about") { %>class="active" <%}%>>
          <a href="/about.html">About Us</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="http://no2bio.org" target="_blank">
          Main site (Hebrew) <span class="glyphicon glyphicon-new-window"></span>
        </a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>