<h1>About No2Bio</h1>

<p>
<em>no2bio</em> is an organization of Israeli citizens, working to stop the creation of a compulsory biometric database in Israel. no2bio calls the government to cancel the project, and issue smart id cards with no central database - similar to other western countries.
</p>
<p>
	no2bio is a voluntary organization. None of us are paid for the activities we do.
</p>

<h3>Contact us</h3>
<ul>
<li>We have a <a href="https://www.facebook.com/no2bio" alt="facebook account" target="_blank">facebook account</a></li>
<li>And a <a href="https://twitter.com/no2bio" alt="twitter account" target="_blank">twitter account</a></li>
<li>Submit suggestions by <a href="https://github.com/michbarsinai/no2bio-eng/issues/new" target="_blank">opening an issue</a>.</li>
</ul>

<small>
<h5>Colophon</h5>
<ul>
<li>CSS based on <a href="http://getbootstrap.com" target="_blank">Bootstrap 3</a></li>
<li>Font icons courtesy of <a href="http://glyphicons.com/" target="_blank">Glyphicons</a></li>
<li>Hosting on <a href="http://pages.github.com" target="_blank">Github Pages</a></li>
<li>Developed using <a href="http://harpjs.com" target="_blank">Harp.js</a></li>
</ul>
</small>