      <div class="jumbotron">
	    <h4>
              <strong>Yes</strong>
              to <strong>smart identification</strong> in Israel
            </h4>
	    <img src="img/logo.png" class="pull-right" alt="no2bio logo">
            <h1>
              <span class="creepy">No</span>
              to the <span class="creepy">Biometric Database</span>
            </h1>
	    <p>Our government is creating a compulsory biometric database.
            <em>We oppose this suicidal idea</em>.</p>
  	<div class="row">
  		<div class="col-md-3">
  			<a class="btn btn-default btn-lg btn-block" role="button" href="items.html">
  				<span class="glyphicon glyphicon-exclamation-sign"></span>
  				In the news
  			</a>
  		</div>
  		<div class="col-md-3 col-md-offset-6">
  			<a class="btn btn-danger btn-lg btn-block" href="http://no2bio.org" target="_blank">
          		Main site (Hebrew) <span class="glyphicon glyphicon-new-window"></span>
        	</a>
  		</div>
  	</div>
</div>
<div class="row">
	<div class="col-md-4">
		<h3>In Short</h3>
		Israel's ministry of Interior is building a compulsory biometric database, containing fingerprints and facial image of every citizen. Well, except for citizens serving in certain agencies.
		We - worried Israeli citizens - are trying to stop this.
	</div>
	<div class="col-md-4">
		<h3>What's Here?</h3>
		Some background materials explaining how the database came to be, news and updates about the database and our efforts to stop it, and some contact information.
	</div>
	<div class="col-md-4">
		<h3>Why English?</h3>
		Outreach. There are many groups around the world dealing with such government initiatives, and
		most of them don't read Hebrew. The site designed for Israeli citizens is <a href="http://no2bio.org" target="_blank">here</a>. We are happy to collaborate with any group facing similar problems.
	</div>
</div>
