<div class="jumbotron">
	<h3>Stopping the</h3>
	<h1>Biometric Database of Israel</h1>
	<p>Copy on struggle goes here</p>
  	<p><a class="btn btn-primary btn-lg" role="button" href="items.html">In the news</a></p>
</div>
