<div class="jumbotron">
	<h3>Stopping the</h3>
	<h1>Biometric Database of Israel</h1>
	<p>Copy on struggle goes here</p>
  	<p><a class="btn btn-primary btn-lg" role="button" href="items.html">In the news</a></p>
</div>
<div class="row">
	<div class="col-md-12">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, quo, corporis, quasi, mollitia quod blanditiis totam iure iusto voluptas ipsa assumenda expedita ratione obcaecati. Pariatur, ullam perferendis hic praesentium dolore facilis. Perspiciatis, labore, distinctio, consequuntur repudiandae illum mollitia nobis voluptate libero voluptates eum cum odio nihil. Ratione, consequatur, quam, et, rem illum doloremque tempore deserunt saepe quo adipisci error impedit labore necessitatibus quasi beatae ipsum nisi reiciendis mollitia culpa quisquam iure. Vel, eveniet repudiandae magnam voluptatem non asperiores repellendus et inventore sit ex exercitationem a iusto amet voluptate nesciunt reprehenderit error animi dolores tempora quam maxime quidem ut assumenda dolorum eaque laboriosam minus ea dolor eum porro provident id ratione natus illo suscipit ducimus saepe! Error, magnam, consequuntur, ducimus quod sed quos iusto corporis optio animi quaerat fugiat maiores sint nemo necessitatibus perferendis deserunt dolorem eligendi quis aliquam reiciendis quam illum a accusantium at natus sapiente dolore quibusdam quo asperiores.
	</div>
</div>
