<div class="jumbotron">
	<h3>Stopping the</h3>
	<img src="img/logo.png" class="pull-right" alt="no2bio logo" />
	<h1><span class="creepy">Biometric Database</span> of Israel</h1>
	<p>The Israeli government is plans a compulsory biometric database for all its citizens.
		We're here to stop it.</p>
  	<p>
  		<a class="btn btn-success btn-lg pull-right" href="http://no2bio.org" target="_blank">
          Main site (Hebrew) <span class="glyphicon glyphicon-new-window"></span>
        </a>
  		<a class="btn btn-primary btn-lg" role="button" href="items.html">In the news</a>
  		<a class="btn btn-info btn-lg" role="button" href="about.html">About us</a>
  	</p>
</div>
<div class="row">
	<div class="col-md-4">
		<h3>Item 1</h3>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, explicabo, culpa, nemo, at ipsa amet consectetur necessitatibus officia rem quas neque aliquid sed molestiae cum.
	</div>
	<div class="col-md-4">
		<h3>Item 2</h3>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, explicabo, culpa, nemo, at ipsa amet consectetur necessitatibus officia rem quas neque aliquid sed molestiae cum.
	</div>
	<div class="col-md-4">
		<h3>Item 3</h3>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, explicabo, culpa, nemo, at ipsa amet consectetur necessitatibus officia rem quas neque aliquid sed molestiae cum.
	</div>
</div>
