<h1>Related articles</h1>
<p>Links to aricles related to the Israeli biometric database bill.</p>


<% 
var items = public.items._data;
for ( var i = 0 ; i<items.length ; ) { 
	var itm = items[i]
%>
<li>
    <small><%=itm.date></small> <a target="_blank" href="<%=itm.url%>"><%=itm.title%></a> <small>credit</small>
</li>
<% } %>
