@bkg: #f4f4f7;
@footerHeight: 2.4em;
@no2bioYellow: #FFE300;
@no2bioRed: #D22027;

body {
  padding-bottom: (@footerHeight*2);
  padding-top: 70px; // Bootstrap's navbar
}

div.no2bioBrand {

 div.collapse {
  ul.nav {
     li {
      a {
        color: black;
      }
    }
  }
 }

}
.navbar-default .navbar-nav > .active > a {
  background-image: none;
  background-color: lighten(@no2bioYellow, 10%);
  font-weight: bold;
  &:hover {
    background-color: @no2bioRed;
    color: @no2bioYellow;
    text-shadow: none;
  }
}

.navbar-default .navbar-nav > li > a {
  &:hover {
    background-color: lighten(@no2bioYellow, 10%);
  }
}

footer {
  display: block;
  position: fixed;
  bottom:0;
  left:0;
  right:0;
  height: @footerHeight;
  font-size: 0.8em;
  background-color: #EEE;
  text-align: center;
  box-shadow: 0 -2px 8px rgba(0,0,0,0.25);
  line-height: @footerHeight;

  img {
    vertical-align: text-top;
  }
}

h1 {
  border-bottom: 2px solid @no2bioYellow;
  color: @no2bioRed;
}

.glow {
  font-weight: bold;
  color: @no2bioRed;
  text-shadow: 0 0 6px #eee;
}

.creepy {
  font-weight: bold;
  color: @no2bioRed;
  text-shadow: 0 -2px 8px #EEE;
  -webkit-animation-name: creepyAnimation;
  -webkit-animation-duration: 10s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -webkit-animation-play-state: running;
  /* Standard syntax */
  animation-name: creepyAnimation;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-play-state: running;
}

@keyframes creepyAnimation {
  0%   {
    text-shadow: 0 -2px 8px #EEE;
  }
  50% {
    text-shadow: 0 2px 4px #A68;
  }
  100% {
    text-shadow: 0 0px 8px rgba(127,126,127,0);
  }
}

@-webkit-keyframes creepyAnimation {
  0%   {
    text-shadow: 0 -2px 8px #EEE;
  }
  50% {
    text-shadow: 0 2px 4px #A68;
  }
  100% {
    text-shadow: 0 0px 8px rgba(127,126,127,0);
  }
}
@-moz-keyframes creepyAnimation {
  0%   {
    text-shadow: 0 -2px 8px #EEE;
  }
  50% {
    text-shadow: 0 2px 4px #A68;
  }
  100% {
    text-shadow: 0 0px 8px rgba(127,126,127,0);
  }
}

.jumbotron {
  background: @no2bioYellow;
}

@media screen and (max-width: 991px) {
  footer {
    position: static;
    margin-top: 2em;
    line-height: 1em;
    padding: 0.5em;
    height: auto;
  }

  body {
    padding-bottom: 0;
  }
}
